:root{
    /*Colors*/
    --primary-color: #493628;
    --secondary-color: #FFD700;
    --accent-color: #04364A;
    --accent-color-dark: #032d3d;
    --accent-color-2: #A31D1D;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-off-white: #FEF9E1;
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;

    /*Font-size*/
    --font-extra-small: .9rem;
    --font-small: 1rem;
    --font-medium: 1.12rem;
    --font-large: 1.5rem;
    --font-extra-large: 2rem;
    --font-title: 4rem;

    /*Font-weight*/
    --font-light: 300;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;   

    /*Border-radius*/
    --border-radius-small: .25rem;
    --border-radius: 2rem;
    --border-radius-circle: 50%;
    --border-radius-large: 1rem;
    
    /*Site-max-width*/
    --site-max-width: 1200px;
}

/* main {
    
} */


.about-section {
    background-color: var(--white-color);
}

.about-section .section-content {
    flex-direction: column-reverse;
    margin-top: 5rem;
}

.about-section .about-details {
    max-width: 100%;
}

.about-section .section-content .about-image-wrapper .about-image {
    display: none;
}

.people-section {
    padding: 2rem 0;
    background-color: var(--background-light-color);
}

.people-section .section-content .person-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 80px 0;
}

.people-section .section-content .person-container :where(.image-wrapper, .person-details) {
    width: 50%;
}

.people-section .section-content .person-container .image-wrapper img{
    border-radius: .5rem;
}

.people-section .section-content .person-container .person-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    gap: 2rem
}

.people-section .section-content .person-container:nth-child(even) {
    flex-direction: row-reverse;
}


@media screen and (max-width: 640px) {
    .about-section .section-content .about-details {
        width: 100%;
    }

    .people-section .section-content .person-container {
        flex-direction: column;
        gap: 20px;
    }

    .people-section .section-content .person-container :where(.image-wrapper, .person-details) {
        width: 100%;
    }

    .people-section .section-content .person-container:nth-child(even) {
        flex-direction: column;
    }
}